.btn {
  display: inline-block;
  height: 4rem;
  min-width: 15.1rem;

  outline: none;
  cursor: pointer;

  border-radius: 10rem;
  border: none;
  background-color: $mainColor;
  color: $whiteColor;

  text-decoration: none;
  font-size: $font-sm;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.5;
  @include breakpoint-down(small) {
    height: 4.8rem;
    font-size: $font-med;
  }
}

.btn--border {
  background-color: $whiteColor;
  color: $mainColor;
  border: 1px solid currentColor;
  text-transform: capitalize;
}

.btn--disabled {
  cursor: default;
  background-color: $lightBlue;
}
