@font-face {
  font-family: "Neo Sans Std Light";
  font-style: normal;
  font-weight: normal;
  src: local("Neo Sans Std Light"),
    url("/src/fonts/Neo\ Sans\ Std\ Light.woff") format("woff");
}

@font-face {
  font-family: "Neo Sans Std Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Neo Sans Std Regular"),
    url("/src/fonts/Neo\ Sans\ Std\ Regular.woff") format("woff");
}

@font-face {
  font-family: "Neo Sans Std Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Neo Sans Std Medium"),
    url("/src/fonts/Neo\ Sans\ Std\ Medium.woff") format("woff");
}

@font-face {
  font-family: "Neo Sans Std Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Neo Sans Std Bold"),
    url("/src/fonts/Neo\ Sans\ Std\ Bold.woff") format("woff");
}
