// Colors
$mainColor: rgb(0, 58, 159);
$lightBlue: #6796cf;
$darkBlue: rgb(0, 41, 103);
$darkBlueOpacity: rgba(0, 41, 103, 0.2);
$green: #69ac5c;
$textColor: rgba(0, 0, 0, 0.6);
$textColorDark: rgba(0, 0, 0, 0.8);
$whiteColor: #ffffff;

// Font Sizes
$font-sm: 1.2rem;
$font-med: 1.4rem;
$font-lg: 1.6rem;
$font-xlg: 3.6rem;
